

/*-------------
 * 	Imports
 *-------------

@import 0-plugins/plugins-dir
@import 1-base/base-dir
@import 2-modules/modules-dir
@import 3-layouts/layouts-dir

/*-------------
 * 	Header
 *-------------

header
  position: absolute
  top: 0
  left: 0
  z-index: 10
  width: 100%
  +display(flex)
  +justify-content(space-between)
  align-items: center
  color: $white
  padding: 10px 100px 0
  h2
    font-family: $quicksand
  nav
    display: flex
    li
      margin: 0 15px
      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0

@media (max-width: 1000px)
  header
    padding: 20px 50px

@media (max-width: 800px)
  header
    +flex-direction(column)
    a
      margin-bottom: 10px
    h2
      margin-bottom: 15px
    img
      width: 95%

/*----------------
 * 	Hero Section
 *----------------

.hero
  position: relative
  +flex-direction(row)
  +justify-content(flex-start)
  height: 100vh
  color: $white
  padding: 125px 150px
  .background-image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    z-index: -1

.heroContent
  text-align: right
  width: 33%
  max-height: 70%

h2.title
  text-decoration: underline
  font-size: 40px
  font-family: $oswald

p.tagline
  padding: 0
  text-align: right
  font-family: $oxygen
  font-size: 20px


svg#roboarm
  position: absolute
  bottom: 0px
  left: 0px
  height: 50%
  width: auto
  z-index: 2

#arrow
  margin-bottom: 30px

.hero
  h1
    font: bold 60px 'Open Sans', sans-serif
    margin-bottom: 15px
  h3
    font: normal 28px 'Open Sans', sans-serif
    margin-bottom: 40px
  a.btn
    padding: 20px 46px

img#roboarm
  position: absolute
  bottom: 0px
  left: 0px

@media (max-width: 1092px)
  .hero
    padding-right: 50px
  .heroContent h2
    font-size: 35px
  p.tagline
    font-size: 1em

@media (max-width: 800px)
  .hero
    min-height: 600px
    h1
      font-size: 48px
    h3
      font-size: 24px
    a.btn
      padding: 15px 40px
  h2.title
    font-size: 30px
  p.tagline
    font-size: 0.9em
  svg#roboarm
    height: 40%

@media (max-width: 650px)
  .hero
    +justify-content(flex-start)
  p.tagline
    font-size: 1em
    text-align: left
@media (max-width: 430px)
  .hero
    padding-left: 0%

/*--------------------
 * 	Our Work Section
 *---------------------

.our-work
  position: relative
  color: $white
  h3.title
    color: $white

.our-work .grid li
  padding: 10px
  height: 350px
  border-radius: 3px
  background-clip: content-box
  background-size: cover
  background-repeat: no-repeat
  background-position: top
  background-color: #333
  &.small
    flex-basis: 40%
  &.large
    flex-basis: 60%

#BB8
  +position(absolute, null null -13px 0)

@media (max-width: 1000px)
  .our-work .grid li
    &.small, &.large
      flex-basis: 100%

/*----------------------
 * 	Features Section
 *----------------------

.features
  background-color: #f7f7f7
  .grid li
    padding: 0 30px
    flex-basis: 33%
    text-align: center
    i
      font-size: 50px
      color: $navy
      margin-bottom: 25px
    h4
      color: #555
      font-size: 20px
      margin-bottom: 25px
    p
      margin: 1

@media (max-width: 1000px)
  .features .grid li
    flex-basis: 70%
    margin-bottom: 65px
    &:last-child
      margin-bottom: 0

@media (max-width: 600px)
  .features .grid li
    flex-basis: 100%



/* -- Demo ads --

@media (max-width: 1200px)
  #bsaHolder
    display: none
